<%- layout('/layouts/boilerplate') %>
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;

  }
  .filter{
    margin-right: 2rem;
    text-align: center;
    margin-top: 2rem;
    opacity: 0.7;
  
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }
</style>
<!-- <h3>All Listings</h3> -->
<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
   <p> Trending</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
   <p>Rooms</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
   <p>Iconic cities</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
   <p>Mountain</p>
  </div>
  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
   <p>Castles</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
   <p>Amazing Pool</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
   <p>Camping</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
   <p>Farms</p>
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
 <% for( let listing of allListings ) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
     <div class="card col listing-card" >
       <img src="<%= listing.image %>" class="card-img-top" alt="listing_image" style="height: 20rem " >
       <div class="card-img-overlay"></div> 
       <div class="card-body">
         <p class="card-text">
          <b> <%= listing.title %></b> <br>
           ₹ <%= listing.price.toLocaleString("en-IN") %> /night
         </p>
       </div>
     </div>
    </a>
       <%  }%>
</div>
